<div class="container">
  <h1>Edit Task</h1>
  <%= form_for @task do |f| %>
  <div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title , class:"form-control" %>
  <%= f.label :details, "Details" %>
  <%= f.text_area :details,  class:"form-control"%>
  <% if @task.completed %>
     <p><%= f.check_box :completed %>
        <%=f.label :completed, "Completed" %>
     </p>
      <% else %>
     <p><%= f.check_box :completed %>
        <%=f.label :completed, "Completed" %>
    </p>
  <% end %> 
  <%= f.submit "Update", class: "btn btn-success mt-2"%>
  <%= link_to 'Back', tasks_path, class: "btn btn-primary mt-2" %>
  </div>
  <% end %>
</div>  